.buy {
  padding: 10px 8px;
  margin: 3px;
  border-radius: 5px;
  background-color: darken($color: white, $amount: 30%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
.cart {
  padding: 10px 10px;
  margin: 3px;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
